body {
  margin: 0;
  padding: 0;
  background-color: rgb(116, 74, 43);
}

li {
    list-style: none;
}

h3, p {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

nav {
  padding: 1rem;
  background-color: rgb(214, 169, 124);
}

.nav-buttons {
  margin-right: 10px;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 0px 7px -2px black;
  background-color: rgb(165, 99, 42);
  color: antiquewhite;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
    align-self: start;
  margin-left: 3rem;
}

img {
    box-shadow: 1px 1px 10px 3px #975f27;
  width: 90%;
  height: 70%;
}

hr {
    border: 1px solid black;
    width: 70%;
}

hr:nth-of-type(1) {
    margin-top: 3rem;
}

.description {
    width: 65%;
}

.cards-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;
    padding: 1rem;
    border: 1px solid brown;
    border-radius: 7px;
    background-color: rgb(235, 213, 186);
    box-shadow: inset 0 0 8px 5px rgb(231, 150, 63);

}

.menu-item-img {
  width: 200px;
  height: 150px;

}

.contact-icons {
  width: 30px;
  height: 30px;
}
